body {
  background-color: #b3de87;
}
#container {
  background-color: #fff;
  height: 852px;
  width: 440px;
  margin: 20px auto;
  border-radius: 30px;
}
#result {
  height: 207px;
  border-radius: 30px 30px 0 0;
}
#history {
  text-align: right;
  height: 80px;
  padding-top: 50px;
  padding-right: 20px;
  font-size: 18px;
  font-family: gilroy;
  color: #919191;
}
#output {
  text-align: right;
  padding-right: 20px;
  font-size: 30px;
  font-family: gilroy;
  font-weight: 450;
}
#keyboard {
  height: 645px;
}

.operator,
.number {
  width: 110px;
  height: 129px;
  font-family: gilroy;
  font-weight: 500;
  font-size: 20px;
  background-color: white;
  border: 0.5px solid #e0e0e0;
  margin: 0;
  box-sizing: border-box;
  float: left;
}

.operator {
  background-color: #f1f1f1;
}

button:nth-child(20) {
  background-color: #9cbc7b;
  border: none;
  color: white;
  border-radius: 0 0 30px 0;
}

button:nth-child(19) {
  background-color: #fff;
}
button:nth-child(18) {
  background-color: #fff;
}
button:nth-child(17) {
  border-radius: 0 0 0 30px;
}
